
            <nav class="navbar navbar-expand navbar-light fixed-bottom p-2">
                <ul class="navbar-nav nav-justified w-100">  
                    <li class="nav-item">
                        <a href="/absen/add" style="text-decoration: none;">
                            <div>
                                <i class="bi bi-clipboard2-check-fill" style="font-size: 20px;"></i>
                            </div>
                            <div><strong>Absen</strong></div>
                        </a>
                    </li>     
                    <li class="nav-item">
                        <a href="/lhp/add" style="text-decoration: none;">
                            <div>
                                <i class="bi bi-file-earmark-plus-fill" style="font-size: 20px;"></i>
                            </div>
                            <div><strong>Laporan</strong></div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/" style="text-decoration: none;">
                            <div>
                                <i class="bi bi-house-fill" style="font-size: 20px;"></i>
                            </div>
                            <div><strong>Home</strong></div>
                        </a>
                    </li>                                                             
                    <li class="nav-item">
                        <a href="/info" style="text-decoration: none;">
                            <div>
                                <i class="bi bi-megaphone-fill" style="font-size: 20px;"></i>
                            </div>
                            <div><strong>Info</strong></div>
                        </a>
                    </li>                                                                                                                                                                                                                            
                    <li class="nav-item">
                        <a href="/profil" style="text-decoration: none;">
                            <div>
                                <i class="bi bi-people-fill" style="font-size: 20px;"></i>
                            </div>
                            <div><strong>Profil</strong></div>
                        </a>
                    </li>                                                                                                                                                                                                                            
                </ul>
            </nav>