<div class="card-body text-center">
  <div class="mt-3 mb-3">
    <img src="<%= dataBerita.thumbnail %>" class="card-img-top mb-2" alt=""/>
    <div>
      <h5 class="text-uppercase fw-bold text-muted"><%= dataBerita.title %></h5>
    </div>              
    <h6 class="mb-1"><%= dataBerita.waktu %></h6>
    <p class="card-text" style="text-align: justify;"><%= dataBerita.deskripsi %></p>                 
  </div>
</div>