<div>
    <h5 class="text-center mb-4"><strong>Laporan Hasil Pengawasan</strong></h5>
</div>
<div class="row mb-4">
    <div class="col-sm-3 mb-2">
        <div class="card shadow-sm" onmouseover="this.style.backgroundColor='#FFE4A7'" onmouseout="this.style.backgroundColor='';">
            <a a="" class="text-danger no-underline" style="text-decoration: none; background-color: rgba(0, 0, 0, 0.025);" onclick="Cekdptonline()" href="/lhp-buat">
                <div class="card-body text-center">
                    <i class="bi bi-file-earmark-plus-fill" style="font-size: 30px;"></i>
                    <h6 class="card-title text-muted"><strong>BUAT LHP</strong></h6>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-3 mb-2">
        <div class="card shadow-sm" onmouseover="this.style.backgroundColor='#FFE4A7'" onmouseout="this.style.backgroundColor='';">
            <a a="" class="text-danger no-underline" style="text-decoration: none; background-color: rgba(0, 0, 0, 0.025);" onclick="Cekdptonline()" href="/lhp-lihat">
                <div class="card-body text-center">
                    <i class="bi bi-database-fill-check" style="font-size: 30px;"></i>
                    <h6 class="card-title text-muted"><strong>LIHAT LHP</strong></h6>
                </div>
            </a>
        </div>
    </div>
</div>