<style>
  body {
      background-color: #f8f9fa;
  }

  .maintenance-container {
      text-align: center;
      padding: 100px 0;
  }

  .maintenance-image {
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
  }
</style>
</head>
<body>

<div class="container maintenance-container">
<img src="img/maintenis.png" alt="Maintenance" class="maintenance-image" style="max-width: 250px; height: auto;">
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
