<form method="POST" action="/register">
  <div class="container">
    <div class="box">
      <div style="justify-content: center; text-align: center;" class="mt-3">
        <img src="/img/logo.png" alt="Icon" width="40">
        <h2 class="mt-2 mb-0">REGISTARSI USER</h2>
        <p class="text-muted mb-5">Pengawas Kelurahan/Desa</p>
      </div>
      <form>
        <div class="form-group mt-3">
          <label for="aktivasi_user">User</label>
          <select id="aktivasi_user" class="form-select" name="aktivasi_user" required>
            <option value="" selected disabled hidden>Pilih Nama</option>
            <% dataUserPws.forEach((dataUsers, i) => { %>
              <option value="<%= dataUsers.nama_lengkap %>"><%= dataUsers.nama_lengkap %></option>
            <% }) %>
          </select>
        </div>
        <div class="form-group mt-3">
          <label for="kode_aktivasi">Kode Aktivasi</label>
          <input id="kode_aktivasi" name="kode_aktivasi" class="form-control" value="<%= kodeAktivasi %>" readonly>
        </div>
        <div class="mt-3 mb-4">
          <button type="submit" class="custom-button" id="submitButton" onclick="tampilkanPesanSukses()">Register</button>
        </div>
      </form>
    </div>
  </div>
</form>
<script>
const tampilkanPesanSukses = async () => {
  const tahapanSelect = document.getElementById('aktivasi_user');
  if (tahapanSelect.value !== '') {
    await alertSuksesRedirect(tahapanSelect.value,'Register Sukses', '/');
  }
};
</script>