
<div class="row">
  <div class="col-sm-12 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Dokumen Yang Disampaikan</h5>
        <ol class="card-text">
Dalam dunia teknologi informasi yang terus berkembang pesat, kebutuhan akan profesional IT yang terampil dan terkualifikasi semakin meningkat. Salah satu cara untuk membuktikan kompetensi dan pengetahuan dalam bidang ini adalah dengan mendapatkan sertifikasi. Terutama bagi para programmer, sertifikasi dapat menjadi kunci untuk meningkatkan peluang karir dan memperkuat fondasi pengetahuan mereka. Berikut adalah beberapa alasan mengapa mendapatkan sertifikasi di bidang IT, khususnya sebagai programmer, sangat penting.
        </ol>
          <em>Catatan: Dibuat 2 rangkap dalam dua amplop.</em>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Jadwal Rekrutmen</h5>
          <ol class="card-text">
            <li>Pendaftaran dan penerimaan Berkas (G1) : 02 – 06 Januari 2024;</li>
            <li>Penelitian Kelengkapan berkas pendaftaran : 02 – 06 Januari 2024;</li>
            <li>Pengumuman Perpanjangan : 07 Januari 2024;</li>
            <li>Penerimaan berkas pendaftaran di masa Perpanjangan (G2) : 07 – 08 Januari 2024;</li>
            <li>Penelitian berkas pendaftaran di masa perpanjangan : 07 – 08 Januari 2024;</li>
            <li>Pengumuman Lulus Administrasi : 10 Januari 2024;</li>
            <li>Tanggapan /masukan masyarakat  : 10 – 21 Januari 2024;</li>
            <li>Wawancara : 02 – 17 Januari 2024;</li>
            <li>Penetapan dan Pengumuman Calon Terpilih Berdasarkan Hasil Tes Wawancara : 18 – 19 Januari 2024.</li>
          </ol>
      </div>
    </div>
  </div>
</div>

//pengertian
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Apa itu Pengawas TPS? </h5>
        <p class="card-text">Pengawas Tempat Pemungutan Suara (PTPS) adalah petugas yang dibentuk oleh Panwaslu Kecamatan untuk membantu Panwaslu Kelurahan/Desa. Panwaslu adalah Pengawas Pemilu yang dibentuk oleh Bawaslu untuk mengawasi penyelenggaraan Pemilu.</p>
      </div>
      <div class="card-body">
        <h5 class="card-title">Tugas dan Kewajiban Pengawas TPS?</h5>
        <p class="card-text">PTPS dalam Pemilu memiliki tugas dan kewajiban sebagai petugas pengawasan Pemilu. Berdasarkan Pasal 43 ayat (3) Peraturan Bawaslu Nomor 1 Tahun 2020, tugas-tugas PTPS Pemilu adalah:</p>
        <ol class="card-text">
          <li>Pencegahan dugaan pelanggaran Pemilu</li>
          <li>Pengawasan tahapan pemungutan dan penghitungan surat suara Pemilu</li>
          <li>Pengawasan pergerakan hasil penghitungan suara</li>
          <li>Penerimaan laporan dan/atau temuan dugaan pelanggaran Pemilu</li>
          <li>Penyampaian laporan dan/atau temuan dugaan pelanggaran Pemilu atau pemilihan kepada Panwaslu Kecamatan/Panwas Kecamatan melalui Panwaslu Kelurahan/Desa/PPL</li>
        </ol>
      </div>

      <div class="card-body">
        <h5 class="card-title">Wewenang Pengawas TPS?</h5>
        <p class="card-text">Setiap PTPS mempunyai wewenang dalam melaksanakan tugasnya sebagai pengawas tempat pemungutan suara (TPS). Apa saja wewenang yang dimaksud? Menurut Buku Saku PTPS Pemilu oleh Bawaslu, berikut poin-poin wewenang PTPS</p>
         <ol class="card-text">
          <li>Menyampaikan keberatan dalam hal ditemukannya dugaan, pelanggaran, kesalahan dan/atau penyimpangan, administrasi pemungutan dan penghitungan suara</li>
          <li>Menerima salinan berita acara dan sertifikat pemungutan dan penghitungan suara</li>
          <li>Melaksanakan wewenang lain sesuai dengan ketentuan peraturan perundang-undangan</li>
        </ol>
      </div>

    </div>
  </div>
</div>
