
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Apa itu Pengawas TPS? </h5>
        <p class="card-text">Pengawas Tempat Pemungutan Suara (PTPS) adalah petugas yang dibentuk oleh Panwaslu Kecamatan untuk membantu Panwaslu Kelurahan/Desa. Panwaslu adalah Pengawas Pemilu yang dibentuk oleh Bawaslu untuk mengawasi penyelenggaraan Pemilu.</p>
      </div>
      <div class="card-body">
        <h5 class="card-title">Tugas dan Kewajiban Pengawas TPS?</h5>
        <p class="card-text">PTPS dalam Pemilu memiliki tugas dan kewajiban sebagai petugas pengawasan Pemilu. Berdasarkan Pasal 43 ayat (3) Peraturan Bawaslu Nomor 1 Tahun 2020, tugas-tugas PTPS Pemilu adalah:</p>
        <ol class="card-text">
          <li>Pencegahan dugaan pelanggaran Pemilu</li>
          <li>Pengawasan tahapan pemungutan dan penghitungan surat suara Pemilu</li>
          <li>Pengawasan pergerakan hasil penghitungan suara</li>
          <li>Penerimaan laporan dan/atau temuan dugaan pelanggaran Pemilu</li>
          <li>Penyampaian laporan dan/atau temuan dugaan pelanggaran Pemilu atau pemilihan kepada Panwaslu Kecamatan/Panwas Kecamatan melalui Panwaslu Kelurahan/Desa/PPL</li>
        </ol>
      </div>

      <div class="card-body">
        <h5 class="card-title">Wewenang Pengawas TPS?</h5>
        <p class="card-text">Setiap PTPS mempunyai wewenang dalam melaksanakan tugasnya sebagai pengawas tempat pemungutan suara (TPS). Apa saja wewenang yang dimaksud? Menurut Buku Saku PTPS Pemilu oleh Bawaslu, berikut poin-poin wewenang PTPS</p>
         <ol class="card-text">
          <li>Menyampaikan keberatan dalam hal ditemukannya dugaan, pelanggaran, kesalahan dan/atau penyimpangan, administrasi pemungutan dan penghitungan suara</li>
          <li>Menerima salinan berita acara dan sertifikat pemungutan dan penghitungan suara</li>
          <li>Melaksanakan wewenang lain sesuai dengan ketentuan peraturan perundang-undangan</li>
        </ol>
      </div>

    </div>
  </div>
</div>
