<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner mb-3">
    <div class="carousel-item active">
      <img src="img/ptps.png" class="d-block w-100 rounded" alt="Banner Utama">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <div class="d-flex justify-content-between">
          <a href="#" class="btn btn-primary mr-2" data-mdb-ripple-init>Button 1</a>
          <a href="#" class="btn btn-primary mr-2" data-mdb-ripple-init>Button 2</a>
          <a href="#" class="btn btn-primary" data-mdb-ripple-init>Button 3</a>
        </div>
      </div>
    </div>
  </div>
</div>
