<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner mb-3">
    <div class="carousel-item active">
      <img src="img/ptps.png" class="d-block w-100 rounded" alt="Banner Utama">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pengumuman Pendaftaran Pengawas TPS Pemilu 2024</h5>
        <p class="card-text">Silahkan download pengumuman dan kelengkapan berkas pendaftaran dibawah ini.</p>
        <div class="d-flex justify-content-between">
          <a href="/ptps_pengumuman" class="btn btn-orange mr-2" style="font-size: 0.7rem; background-color: orange; color: white;" data-mdb-ripple-init><i class="bi bi-file-earmark-arrow-down"></i> Pengumuman</a>
          <a href="/ptps_pdf" class="btn btn-orange mr-2" style="font-size: 0.7rem; background-color: orange; color: white;" data-mdb-ripple-init><i class="bi bi-file-earmark-arrow-down"></i> Berkas PDF</a>
          <a href="ptps_doc" class="btn btn-orange" style="font-size: 0.7rem; background-color: orange; color: white;" data-mdb-ripple-init><i class="bi bi-file-earmark-arrow-down"></i> Berkas DOCX</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Persyaratan</h5>
        <p class="card-text">Berikut adalah daftar persyaratan Pengawas Tempat Pemungutan Suara (PTPS) yang tercantum dalam Undang-Undang Nomor 7 Tahun 2017 tentang Pemilu sebagaimana telah diubah terakhir dengan Undang-Undang Nomor 7 Tahun 2023 yaitu:</p>
        <ol class="card-text">
          <li>Warga Negara Indonesia;</li>
          <li>Pada saat pendaftaran berusia paling rendah 21 (dua puluh satu) tahun;</li>
          <li>Setia kepada Pancasila sebagai dasar negara, Undang-Undang Dasar Negara Republik Indonesia Tahun 1945, Negara Kesatuan Republik Indonesia, Bhinneka Tunggal Ika, dan cita-cita Proklamasi 17 Agustus 1945;</li>
          <li>Mempunyai integritas, berkepribadian yang kuat, jujur, dan adil;</li>
          <li>Memiliki kemampuan dan keahlian yang berkaitan dengan Penyelenggaraan Pemilu, ketatanegaraan, kepartaian, dan pengawasan Pemilu;</li>
          <li>Berpendidikan paling rendah sekolah menengah atas atau sederajat;</li>
          <li>Berdomisili di kecamatan setempat dalam Negara Kesatuan Republik Indonesia yang dibuktikan dengan Kartu Tanda Penduduk (KTP);</li>
          <li>Mampu secara jasmani, rohani, dan bebas dari penyalahgunaan narkotika;</li>
          <li>Mengundurkan diri dari keanggotaan partai politik sekurang-kurangnya 5 (lima) tahun pada saat mendaftar sebagai calon PTPS;</li>
          <li>Mengundurkan diri jabatan politik, jabatan di pemerintahan, dan/atau di badan usaha milik negara/badan usaha milik daerah pada saat mendaftar sebagai calon;</li>
          <li>Tidak pernah dipidana penjara selama 5 (lima) tahun atau lebih, dibuktikan dengan surat pernyataan;</li>
          <li>Bersedia bekerja penuh waktu yang dibuktikan dengan surat pernyataan;</li>
          <li>Bersedia tidak menduduki jabatan politik, jabatan di pemerintahan, dan/atau badan usaha milik negara/badan usaha milik daerah selama masa keanggotaan apabila terpilih;</li>
          <li>Tidak berada dalam ikatan perkawinan dengan sesama Penyelenggara Pemilu.</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Dokumen Yang Disampaikan</h5>
        <ol class="card-text">
          <li>Surat pendaftaran yang ditujukan kepada Panwaslu Kecamatan Cibinong;</li>
          <li>Fotokopi Kartu Tanda Penduduk Elektronik (KTP el);</li>
          <li>Pas foto setengah badan terbaru ukuran 4×6 sebanyak 2 lembar (latar merah);</li>
          <li>Fotokopi ijazah pendidikan terakhir yang disahkan/dilegalisir oleh pejabat yang berwenang atau menyerahkan fotokopi ijazah terakhir dengan menunjukkan ijazah asli;</li>
          <li>Daftar riwayat hidup;</li>
          <li>Surat Pernyataan bermaterai.</li>
        </ol>
          <em>Catatan: Dibuat 2 rangkap dalam dua amplop.</em>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Jadwal Rekrutmen</h5>
          <ol class="card-text">
            <li>Pendaftaran dan penerimaan Berkas (G1) : 02 – 06 Januari 2024;</li>
            <li>Penelitian Kelengkapan berkas pendaftaran : 02 – 06 Januari 2024;</li>
            <li>Pengumuman Perpanjangan : 07 Januari 2024;</li>
            <li>Penerimaan berkas pendaftaran di masa Perpanjangan (G2) : 07 – 08 Januari 2024;</li>
            <li>Penelitian berkas pendaftaran di masa perpanjangan : 07 – 08 Januari 2024;</li>
            <li>Pengumuman Lulus Administrasi : 10 Januari 2024;</li>
            <li>Tanggapan /masukan masyarakat  : 10 – 21 Januari 2024;</li>
            <li>Wawancara : 02 – 17 Januari 2024;</li>
            <li>Penetapan dan Pengumuman Calon Terpilih Berdasarkan Hasil Tes Wawancara : 18 – 19 Januari 2024.</li>
          </ol>
      </div>
    </div>
  </div>
</div>

//pengertian
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Apa itu Pengawas TPS? </h5>
        <p class="card-text">Pengawas Tempat Pemungutan Suara (PTPS) adalah petugas yang dibentuk oleh Panwaslu Kecamatan untuk membantu Panwaslu Kelurahan/Desa. Panwaslu adalah Pengawas Pemilu yang dibentuk oleh Bawaslu untuk mengawasi penyelenggaraan Pemilu.</p>
      </div>
      <div class="card-body">
        <h5 class="card-title">Tugas dan Kewajiban Pengawas TPS?</h5>
        <p class="card-text">PTPS dalam Pemilu memiliki tugas dan kewajiban sebagai petugas pengawasan Pemilu. Berdasarkan Pasal 43 ayat (3) Peraturan Bawaslu Nomor 1 Tahun 2020, tugas-tugas PTPS Pemilu adalah:</p>
        <ol class="card-text">
          <li>Pencegahan dugaan pelanggaran Pemilu</li>
          <li>Pengawasan tahapan pemungutan dan penghitungan surat suara Pemilu</li>
          <li>Pengawasan pergerakan hasil penghitungan suara</li>
          <li>Penerimaan laporan dan/atau temuan dugaan pelanggaran Pemilu</li>
          <li>Penyampaian laporan dan/atau temuan dugaan pelanggaran Pemilu atau pemilihan kepada Panwaslu Kecamatan/Panwas Kecamatan melalui Panwaslu Kelurahan/Desa/PPL</li>
        </ol>
      </div>

      <div class="card-body">
        <h5 class="card-title">Wewenang Pengawas TPS?</h5>
        <p class="card-text">Setiap PTPS mempunyai wewenang dalam melaksanakan tugasnya sebagai pengawas tempat pemungutan suara (TPS). Apa saja wewenang yang dimaksud? Menurut Buku Saku PTPS Pemilu oleh Bawaslu, berikut poin-poin wewenang PTPS</p>
         <ol class="card-text">
          <li>Menyampaikan keberatan dalam hal ditemukannya dugaan, pelanggaran, kesalahan dan/atau penyimpangan, administrasi pemungutan dan penghitungan suara</li>
          <li>Menerima salinan berita acara dan sertifikat pemungutan dan penghitungan suara</li>
          <li>Melaksanakan wewenang lain sesuai dengan ketentuan peraturan perundang-undangan</li>
        </ol>
      </div>

    </div>
  </div>
</div>
