<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner mb-3">
    <div class="carousel-item active">
      <img src="img/ptps.png" class="d-block w-100 rounded" alt="Banner Utama">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pengumuman Hasil Seleksi Pengawas TPS Pemilu 2024</h5>
        <p class="card-text">Anda bisa melihat Pengumuman Hasil Seleksi Pengawas TPS</p>
        <div>
          <a href="https://drive.google.com/file/d/1Zr4Y5FyFb2HiFq1wCImP49MVjt0X6QG8/view?usp=sharing" class="btn btn-orange mr-2" style="font-size: 0.7rem; background-color: orange; color: white;" data-mdb-ripple-init><i class="bi bi-file-earmark-arrow-down"></i> Pengumuman</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">PELANTIKAN PENGAWAS TPS</h5>
        <p class="card-text">Pelantikan akan dilaksanakan hari senin, 22 Januari 2024, Pukul 08.00 Wib bertempat di Gedung Kandaga Winaya Cibinong. Adapun pakaian yang harus dikenakan</p>
        <ol class="card-text">
          <li>Kemeja Putih</li>
          <li>Celana/Rok Hitam</li>
          <li>Dasi Hitam</li>
          <li>Kopeah/Kerudung Hitam</li>
          <li>Sepatu</li>
        </ol>
      </div>
    </div>
  </div>
</div>
