<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner mb-3">
    <div class="carousel-item active">
      <img src="img/ptps.png" class="d-block w-100 rounded" alt="Banner Utama">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card 1 Title</h5>
        <p class="card-text">Card 1 content goes here.</p>
        <a href="#" class="btn btn-primary" data-mdb-ripple-init>Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card 2 Title</h5>
        <p class="card-text">Card 2 content goes here.</p>
        <a href="#" class="btn btn-primary" data-mdb-ripple-init>Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card 3 Title</h5>
        <p class="card-text">Card 3 content goes here.</p>
        <a href="#" class="btn btn-primary" data-mdb-ripple-init>Go somewhere</a>
      </div>
    </div>
  </div>
</div>
