<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner mb-3">
    <div class="carousel-item active">
      <img src="img/ptps.png" class="d-block w-100 rounded" alt="Banner Utama">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <div class="d-flex justify-content-between">
          <a href="www.ptps.cibinong.biz.id/pengumuman" class="btn btn-orange mr-2" style="font-size: 0.7rem; background-color: orange; color: white;" data-mdb-ripple-init><i class="bi bi-file-earmark-arrow-down"></i> Pengumuman</a>
          <a href="http://ptps.cibinong.biz.id/pdf" class="btn btn-orange mr-2" style="font-size: 0.7rem; background-color: orange; color: white;" data-mdb-ripple-init><i class="bi bi-file-earmark-arrow-down"></i> Berkas PDF</a>
          <a href="http://ptps.cibinong.biz.id/doc" class="btn btn-orange" style="font-size: 0.7rem; background-color: orange; color: white;" data-mdb-ripple-init><i class="bi bi-file-earmark-arrow-down"></i> Berkas DOCX</a>
        </div>
      </div>
    </div>
  </div>
</div>
