<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner mb-3">
    <div class="carousel-item active">
      <img src="img/slide1.png" class="d-block w-100 rounded" alt="Banner Utama">
    </div>
      <div class="carousel-item">
        <img src="img/ptps.png" class="d-block w-100 rounded" alt="ahhh">
      </div>
  </div>
</div>
